@use "fonts";

:root {
  --color-bg: #{$color-bg};
  --color-panel: #{$color-panel};
  --color-sidebar: #{$color-sidebar};
  --color-text: #{$color-text};
  --color-text-muted: #{$color-text-muted};
  --color-border: #{$color-border};
  --color-accent: #{$color-accent};

  --radius-lg: #{$radius-lg};
  --radius-md: #{$radius-md};
  --radius-sm: #{$radius-sm};

  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}

a {
  color: inherit;
}
